// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// *,
// *::after,
// *::before{
//     padding: 0;
//     margin: 0;
//     box-sizing: inherit;
//     font-family: 'Nunito',sans-serif;
// }



// body{
//     //This defindes what 1rem is
//     // font-size: 62.5%;
//     box-sizing: border-box;
//     background-color: $body-bg;
//     font-size: 16px;
// }
