@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins',
  'abstracts/placeholders';

@import
  'base/reset',
  'base/animations',
  'base/typography';

@import
  'layout/navigation',
  'layout/header',
  'layout/footer',
  'layout/forms';

@import
  'components/buttons';

@import
  'pages/home';

@import
  'layout/navigation',
  'layout/header',
  'layout/footer',
  'layout/forms';

@import
  'components/buttons';

@import
  'pages/home';